body {
  background-color: #eaf6f6;
}
hr {
  background-color: #eaf6f6;
  border-style: none;
  border-color: gray;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
}
h1 {
  color: #66bfbf;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
}
.profileTable {
  background-color: aquamarine;
  width: 100%;
}
.circular {
  border-radius: 5%;
}
#justIdExample {
  font-family: "Courier New", Courier, monospace;
}
img:hover{
  height: 200px;
}
